body {
    background: #FFF;
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

#header {
    background: #4c00ff;
    width: 100%;
    height: 55px;
    text-align: center;
}

#container {
    background: #9391d3;
    margin: auto auto;
    width: 1000;
}




#sidebar {
    background: #6183b1;
    float: left;
    width: 20%;
    height: 100%;
}

#content {
    background: #a595ff;
    float: right;
    width: 80%;
    height: 100%;
}

#clear {
    clear: both;
}

#footer {
   background: #6200ff;
   width: 100%;
   height: 40px;
}
#menuha ul {
    display: none;
    background-color: #f90;
}

#menuha li:hover ul {
    display: block;
}

#menuha,
#menuha ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#menuha {
    height: 30px;
    background-color: rgb(92, 90, 214);
    padding-left: 25px;
    min-width: 470px;
}

#menuha li {
    float: left;
}

#menuha li a {
    display: block;
    padding: 6px;
    width: 230px;
    color: rgb(0, 0, 0);
    font-style:italic ;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

#menuha ul li {
    float: none;
}

#menuha li:hover {
    background-color:   rgb(137, 101, 238);
}

#menuha ul li:hover {
    background-color: #666;
}
#navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
  }
  #navbar a {
    background-color: rgb(126, 90, 172);
    color: #fff;
    padding: 30px;
    text-decoration: none;
    font-weight: bold;
    display: block;
  }
  #navbar a:hover {
    background-color: rgb(196, 102, 240);
  }
  #current_date_time_block {
      float:right;
  
  }
  #current_date_time_block {
      color:bisque;
  }
  table tr:nth-child(2n) td{ background: #fff8dc; }
table tr:nth-child(2n+1) td{ background: #fffff0; }
.zag{
    background-color:#a52a2a;
    color:seashell;
}