body { background: url(../lab2/165390-rastenie-atmosfera-purpur-okruzhayushchaya_sreda-prirodnyj_landshaft-3840x2160.jpg); }
.container {
position: relative;
text-align: center;
color: aqua;
font-family: arial black;}
.left {
position: absolute;
top: 300px;
right: 400px;
}
h1,h2,p,pre,u{
    color:white;

}
h1 {
    color:red;
    font-family: sans-serif;
    text-align:center;
}
h2 {
    font-style: italic;
    color:red;
}
.cen {
    text-align:center;
}